[submodule "cafromhfx"]
	path = cafromhfx
	url = https://code.citrite.net/scm/xsc/cafromhfx.git
[submodule "fetchOpenDefects"]
	path = fetchOpenDefects
	url = https://code.citrite.net/scm/xsc/fetchOpenDefects.git
[submodule "psqlconfig"]
	path = psqlconfig
	url = ssh://git@code.citrite.net/~philippeg/config.xscodechurn.git
