caption { 
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
table {
	border-spacing: 0;
	border: 1px solid green;
	border-collapse: collapse;
}
tr:nth-child(even) {background: white}
tr:nth-child(odd) {background: #A7C942}
